***************************************************
 Hostname: {{ inventory_hostname }}           
***************************************************
***************************************************
 Interface:          {{ bgp_summ[0].IFACE }}
 TX Light:           {{ bgp_summ[0].TX_PWR }}
 RX Light:           {{ bgp_summ[0].RX_PWR }} 
 						   
***************************************************
